:root{
    --main-color: #10cab7;
    --second-color:#2c4755;
}

/* start global rouls*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;;
}



.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

/* small */
@media (min-width: 768px) {
    .container{
        width: 750px; 
    }
    
}
/* medium */
@media (min-width: 992px) {
    .container{
        width: 970px; 
    }
    
}
/* larg */
@media (min-width: 1200px) {
    .container{
        width: 1170px; 
    }
    
}
/*end global rouls */

/* start header */

.header{
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 90px;
}
.header .links{
    position: relative;
}

.header .links .icone {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icone span {
    background-color: black;
    margin-bottom: 5px;
    height: 3px;
    
}
.header .links .icone span:first-child {
    width: 100%;
    
}
.header .links .icone span:nth-child(2) {
    width: 65%;
    
}
.header .links .icone span:last-child {
    width: 100%;
    
}

.header .links .icone:hover span:nth-child(2) {

    width: 100%;
    transition: 0.5s;
}

.header .links .icone:hover span:not(:nth-child(2))  {

    width: 65%;
    transition: 0.5s;
}

.header .links ul{
    list-style : none;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    opacity: 0.6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px) ;
    display: none;
    z-index: 1;
}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent blue transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: 0.6s;
    color: black;
}

.header .links ul li a:hover{
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #444;
}

.header .links:hover ul{
display: block;
}

.landing{
    background-image: url(../img/wallpaperbetter\ \(1\).jpg);
    background-size: cover;
    height: calc(100vh - 76px);
    position: relative;
}
@media(max-width :991px){
    .landing {
    background-position: center center;
 }
}

.landing .intro {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    max-width: 100%;
}

.landing .intro h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
    

}

.landing .intro p{
    font-size: 19px;
    line-height: 1.8;
   
    color: yellow;
}

.feature{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f7f7f7;
    
}
.feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
}

.feature .feat{
    padding: 20px;
    text-align: center;
}
.feature .feat i{
   color: var(--main-color);
    

}
.feature .feat h3{
    font-weight: 800;
    margin: 30px 0;
     
 
 }
 .feature .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
     
 
 }

 .spiceal{

    color: #ebeced;
    text-align: center;
    letter-spacing: -10px;
    font-weight: 800;
    margin: 0;
    font-size: 100px;
 }

 .spiceal + p{

    color: #777;
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
 }
 @media(max-width:767px )
 {
    .spiceal{

       
        font-size: 60px;
     }
    
     .spiceal + p{
    
        
        margin-top: -20px;
    
     }
 }
 .services{
    padding-top:60px;
    padding-bottom: 60px;
 }

 .services .service-contant{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
 }
 .services .service-contant .srv{
    display: flex;
    margin-bottom: 40px;
 }
 @media(max-width : 767px){
    .services .service-contant .srv{
        flex-direction: column;
        text-align: center;
    }
 }
 .services .service-contant .srv i{
    color: var(--main-color);
    flex-basis: 60px;

 }
 .services .service-contant .srv .text{
    flex: 1;
 }
 .services .service-contant .srv .text p {
    color: green;
    font-weight: 300;
    line-height: 1.6;

 }
 .services .service-contant .srv .text h3{
    margin: 0 0 20px;
 }
 .services .service-contant .image img{
    width: 260px;
 }
  

 .services .service-contant .image {
    position: relative;
    text-align: center;
    top: 125px;
  
 }
 

 .services .service-contant .image::before {
    content: "";
    background-color: var(--second-color);
    width: 70px;
    height: calc(100% + 60px);
    position: absolute;
    top: -30px;
    right: 30px;
    z-index: -1;
    
  
 }
 @media (max-width: 1199px) {
    .image-colmun {
    display: none;
    }

 }
 .portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f7f7f7;

 }

 .portfolio .portfolio-contant{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
 }
 .portfolio .portfolio-contant .card{
    background-color: white;
    width:360px ;
  
 }


 .portfolio .portfolio-contant .card img{
    width: 360px;
    height: 345px;
    

 }
 @media(max-width : 767px){
    .portfolio .portfolio-contant .card
     {
      width: 100%;
      
    }
    .portfolio .portfolio-contant .card img{
        width: 100%;
        padding: 20px;
    }
 }

 .portfolio .portfolio-contant .card .info{
    padding: 20px;

 }

 .portfolio .portfolio-contant .card .info h3 {
    margin: 0;
    text-align: center;

 }
 .portfolio .portfolio-contant .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;

 }

 .about{
    padding-top: 60px;
    padding-bottom: 120px;
 }
 .about .about-contant{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 @media(max-width :991px){
    .about-contant{
        flex-direction: column;
        text-align: center;
    }
 }
 .about .about-contant .image{
    position: relative;
    width: 250px;
    height: 375px;
  
 }
 @media(max-width :991px){
    .about .about-contant .image {
    margin: 0 auto 80px;
 }
}
 .about .about-contant .image img{
    
    
    max-width: 100%;
    max-height: 100%;

 }
 
 .about .about-contant .image::before{
    content: "";
    position: absolute;
    background-color: red;
    width: 80px;
    height: calc(100% + 80px);
    top: -40px;
    left: -50px;
    opacity: 0.5;
    z-index: -1;

 }
 .about .about-contant .image::after{
    top: -40px;
    content: "";
    position: absolute;
    width: 60px;  
    height: 300px; 
    border-left: 80px solid red;
    border-bottom: 60px solid red;
    right: -60px;
    opacity: 0.6;
    z-index: -1;
 }
 @media(max-width :991px){
    .about .about-contant .image::before,
    .about .about-contant .image::after{
    display: none;
 }
}
 .about .about-contant .text {
    flex-basis: calc(100% - 350px);
 }
 .about .about-contant .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
 }
 .about .about-contant .text hr {
    border-color: red;
    width: 50%;
    display: inline-block;
    opacity: 0.6;
 }
 .about .about-contant .text p:last-of-type {
    line-height: 2;
    color: #777;
 }
 .contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f7f7f7;
 }
 .contact .info{
   
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
 }
 .contact .info .label{
   
    font-size: 35px;
    font-weight: 800;
    color: var(--second-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
 }
 .contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
 }
 .contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
 }
 
 .contact .info .social i{
    margin-left: 25px;
    color: var(--second-color);
 }

 @media(max-width :767px){
    .contact .info .label,
    .contact .info .link{
    font-size:25px ;
    }
 }
 .footer{
    background-color: var(--second-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
 }
.footer span{
    color: var(--main-color);
    font-weight: bold;
}